

.name{
    font-size: 20px;
    font-weight: bold;
}

.containeri{
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    margin-left: 250px;
    margin-top: 50px;
    background-color: aliceblue;
    width: 320px;
    height: 500px;
}

.images{
    margin-top: 20px;
    width: 250px;
    height: 250px;
    mix-blend-mode: multiply;
}


.description{
    color: rgba(0, 0, 0, 0.8);
}


.price{
    font-weight: bold;
    font-size: 25px;
    color: rgba(204, 0, 0, 0.875);
    text-align: start;
    margin-left: 10px;
}

.oldPrice{
    color: rgba(77, 77, 77, 0.693);
    font-size: 12px;
    text-decoration: line-through;
}

.buy{
    width: 60px;
    height: 60px;
    cursor: pointer;
    mix-blend-mode: multiply;

}

.priceBuy{
    text-align: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1px 100px 50px;
    align-items: center;
}

.containerBasket{
    background-color: aliceblue;
    width: 200px;
    height: 600px;
    margin-left: 30px;
    position: fixed;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.containerAll{
    display: flex;
}

.containerInfo{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-around;
    grid-column-gap: 10em;
}


.order{
    /* margin-top: 300%; */
    border: none;
    border-radius: 5%;
    background-color: #1db51dca;
    width: 100%;
    height: 40px;
    cursor: pointer;
    /* position: fixed; */
}

.orderNumb{
    text-align: center;
    font-size: 30px;
}


.containerOrder{
    background-color: #f5f5f5;
    margin-left: 50px;
    margin-right: 50px;
}

.priceOrder{
    font-size: 24px;
    margin-right: 60px;
    text-align: end;
}

.orders{
    white-space: pre-line;
    font-size: 18px;
    border:ridge 1px rgba(0, 0, 0, 0.2);
}


.ordersBuy{    
    display: flex;
    white-space: pre-line;
    padding-left: 40px;
    width: 200px;
    font-size: 25px;

}


.priceCart{
    font-size: 15px;
}



.containerCart{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border:ridge 1px rgba(0, 0, 0, 0.039);
}


.priceCartBuy{
    font-size: 25px;
    margin-right: 20px;
}


.agree{
    text-align: center;
}


.ag{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.agree{
    background-color: rgb(26, 171, 26);
    border: none;
    border-radius: 5%;
    width: 200px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}


.disagree{
    background-color: aliceblue;
    color:  rgb(26, 171, 26);
    border: solid .1px;
    border-radius: 5%;
    width: 200px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}


.trash{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    mix-blend-mode: multiply;
    cursor: pointer;
}


.cart{
    font-weight: bold;
}


.discount{
    background-color: #ff3636;
    position: absolute;
    margin-top: 50px;
    font-size: 30px;
    color: #ffffff;
    border-radius: 25%;
    margin-left: 10px;
}



@media only screen and (max-width: 600px) {
    .containerInfo{
        display: block;
    }
    .nav{
        width: 145%;
    }

    .containerOrder{
        width: 135%;
        padding: 0;
    }
    .description:nth-child(1){
        display: none;
    }

  }


  .containers{
    display: flex;
    justify-content: space-between;
    width: 240%;
}


.input{
    margin: 10%;
    width: 300px;
    height: 70px;
    border-radius: 100px;
    border: none;
    padding-left: 40px;

}


.inputs{
    display: grid;
    grid-template-columns: 350px 350px;    
    justify-content: space-evenly;

}


.priceCartBuyMore{
    font-size: 25px;
    padding-right: 10px;
}


.form{
    color: #0c2aef;
    font-size: 20px;
    padding: 20px;
    border: solid 1px;
    display: inline-block;
    margin: 20px;
}


.zamoviti{
    text-align: center;
    justify-content: center;
    background-color: #0c2aef;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5%;
    color: #f5f5f5;
    font-size: 20px;
    cursor: pointer;
}

.zamoviti:hover{
    background-color: #041cb9;
}


.buttonContainer{
    display: flex;
    justify-content: center;
}


.thanks{
    text-align: center;
    font-size: 20px;
}


.number{
    margin-left: 50px;
    font-size: 20px;
}


.email{
    margin-left: 50px;
    font-size: 20px;
}

.blocked{
    color: rgb(0, 0, 0);
    padding-left: 100px;
    font-size: 30px;
}


.yes{
    display: none;
}


.get{
    margin: 20px;
    border: none;
    background-color: #041cb9;
    color: #f5f5f5;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.get:hover{
    background-color: #0c2aef;
}