body {
  background-color: rgb(38, 53, 47);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  text-align: center;
  /* padding-top: 100px; */
}

.whats-true{
  /* padding-right: 525px; */
  color: aliceblue;
  font-size: 30px;
  text-align: center;
}

.images{
  text-align: center;
  height: 230px;
  width: 230px
}


.button-next{
  display: flex;
  justify-content: center;


}

.but{
  background-color: rgb(135, 187, 232);
  border: none;
  height: 50px;
  width: 330px;
  margin-top: 40px;
  border-radius: 5%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.63);
  font-size: 23px;

}

.but:hover{
  background-color: rgb(135, 199, 220);
}

.but:active{
  background-color: rgb(145, 216, 237);
}

.question-container{
  display:flex;
  justify-content: space-around;
  padding-top: 50px;
}


.button{
  background-color: rgb(105, 169, 225);
  border: none;
  height: 100px;
  width: 250px;
  border-radius: 10%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.63);
  font-size: 18px;
  color: rgb(30, 40, 6);
}

.button:hover{
  background-color: rgb(134, 193, 212);
}

.button:active{
  background-color: rgb(107, 178, 199);
}



.number{
  color: rgb(11, 179, 53);
  left: 100px;
}

